node_modules
.env
.env.local
.env.development
.env.production

dist
build
.prisma
*.log

.idea
.vscode
android/.idea

Jagruta-Backend/node_modules
Jagruta-Backend/.env
Jagruta-Backend/dist
Jagruta-Backend/.prisma

Jagruta-frontend/node_modules
Jagruta-frontend/.env
Jagruta-frontend/.env.local
Jagruta-frontend/dist
Jagruta-frontend/build
Jagruta-frontend/android/.idea